.main-footer__wrapper {
  width: 320px;
  min-height: 233px;
}

.main-footer__sedona-link {
  text-decoration: none;
}

.main-footer__sedona-link-hashtag {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer__logo-link {
  text-decoration: none;
}

.main-footer__logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
