.map {
  display: block;
  margin: auto;
  background-image: url(/img/index/map-mobile.jpg);
  width: 320px;
  height: 350px;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    background-image: url(/img/index/map-tablet.jpg);
  }

  @media (min-width: @desktop-width){
    width: @desktop-width;
    background-image: url(/img/index/map-desktop.jpg);
  }
}
