.site-list {
  width: 320px;
  min-height: 223px;
}

.site-list__item {
  list-style-type: none;
  width: 320px;
  height: 55px;
  background-color: #81B3D2;
}

.site-list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
