.social {
  width: 156px;
  min-height: 48px;
  margin: 88px 82px 97px 82px;
}

.social__item {
  width: 48px;
  height: 48px;
  list-style-type: none;
  background-color: #81B3D2;
}

.social__item+.social__item {
  margin-right: 6px;
}

.social__link--vk {
  background-image: url("../img/index/vk.svg");
}

.social__link--tg {
  background-image: url("../img/index/tg.svg");
}

.social__link--yt {
  background-image: url("../img/index/yt.svg");
}
