.social {
  min-width: 166px;
  width: 100%;
}

.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social__item {
  list-style-type: none;
  background-color: #81B3D2;
  width: 48px;
  height: 48px;
  margin: 0 5px;
}

.social__item--vk {
  background-image: url(../img/index/vk.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}

.social__item--tg {
  background-image: url(../img/index/tg.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}

.social__item--yt {
  background-image: url(../img/index/yt.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
